<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/css/lib/tachyons.min.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"> -->
    
    <script src="/js/lib/jquery.min.js"></script>
    <!-- <script src="//unpkg.com/alpinejs" defer></script> -->
    <!-- <script src="https://unpkg.com/mithril/mithril.js"></script> -->
    <!-- <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script> -->
    
  </head>
  <body>

    <header></header>

    <main>
    {{outlet}}
    </main>

    <footer></footer>

    <script src="/js/lib/instant.page.min.js"></script>
    <!-- <script src="https://cdn.skypack.dev/@hotwired/turbo"></script> -->

  </body>
</html>
