<div class="dt h-100 center">
  <div class="dtc v-mid">

    <span class="ml3 f3">.　<a href="https://github.com/jyoungblood/slime" class="black no-underline">☽</a>　</span>

    <pre class="sans-serif">



                    In this arid wilderness of steel and stone

                    

                                            I raise up my voice that you may hear




            _  ﹏__﹏_ک_____ ___ ﹏__﹏_ψ﹏___﹏___﹏﹏﹏____
              ·      ·   · ,  　  ·  ፧  ·   .    ░  　 　  ·    · ,  ⋰

                                                            ∴
  . 　                                                                                  .
  ·  °   ·   ,  . ° 　　　 　 · ,            　      　 　　　              　                     ༶

    </pre>

    <div class="mt5 f7 sans-serif o-30">
      {{locals.site_title}} ({{locals.site_code}}) - {{locals.year}}
    </div>


  </div>
</div>